@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction; 
    justify-content: $justify; 
    align-items: $align;
}

@mixin heading1_name($ff, $fs, $col) {
    font-family: $ff;
    font-size: $fs;
    color: $col;
}

@mixin heading1($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading1_italic($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading2($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading2_italic($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading3($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading3_italic($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading4($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading5($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin heading6($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin body1($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin body1_bold($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin body2($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin body2_bold($ff, $fs, $lh, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin body2_spacing($ff, $fs, $lh, $ls, $col) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    color: $col;
}

@mixin button($w, $h, $br-r, $br, $bg-col){
    width: $w;
    height: $h;
    border-radius: $br-r;
    border: $br;
    background-color: $bg-col;
    cursor: pointer;
    &:active {
        background-color: darken($bg-col, 10%); 
    }
}

@mixin input($w, $h, $br-r, $br, $bg-col){
    width: $w;
    height: $h;
    border-radius: $br-r;
    border: $br;
    background-color: $bg-col;
    cursor: pointer;
}