// colors
$primary: #FBF8F4;
$secondary: #222222;
$dark_brown: #321D1D;
$brown1: #D3A574;
$brown2: #A46C32;
$green: #183534;

// fonts
$cormorantGaramondMedium: "Cormorant Garamond Medium";
$cormorantGaramondItalic: "Cormorant Garamond Italic";
$cormorantGaramondMediumItalic: "Cormorant Garamond MediumItalic";
$cormorantGaramondSemiBold: "Cormorant Garamond SemiBold";
$cormorantGaramondBold: "Cormorant Garamond Bold";
$cormorantGaramondBoldItalic: "Cormorant Garamond BoldItalic";
$interRegular: "Inter Regular";
$interSemiBold: "Inter SemiBold";


// media
$media-xs: 315px;
$media-sm: 425px;
$media-ms: 576px;
$media-md: 768px;
$media-mx: 992px;
$media-lg: 1024px;
$media-xl: 1240px;
$media-xxl: 1320px;